<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script  src="/js/jquery.js"type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="/js/main.js"type="text/javascript"></script>
</head>

<body>
    <a href="/user/logout"><h2>Logout</h2></a>
    <div class="button-container">
        <button class="emo-selector" value="all-emotion" >▷emotion tracker</button>
        <button href="/emo/top" class="emo-selector" value="most-emotion">▷TBD</button>
          <a href="/emo/top"><h2>top emotion </h2></a>
    </div>

 <div id="emotion-mode">
    <div class="all-emotion">
	<h1> this is intro {{email}} {{date}} </h1>
    <canvas id="myChart" width="200" height="200"></canvas>

		<div class="container">
			{{#emo}}
            <div class="month">{{month}}</div>
            <div clas="date">{{day}}</div>
			<h2>{{type}}</h2>
			{{/emo}}
		</div>
    </div>
    <div class ="most-emotion">
        <h1>this is most emotions</h1>
    </div>
</div>

    <div class=""></div>
</body>

</html>