* body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

h2 {
    font-weight: 200;
    color: gray;
}

section .container {
    width: 15rem;
}

section h3 {
    margin-bottom: 0px;
}

section a {
    text-decoration: none;
    color: black;
    margin-top: 0;
}

.user-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border-radius: 25px;
    width: 20rem;
}

.user-form label {
    color: white;
    font-weight: 200;
    margin-top: 1.1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
    text-transform: uppercase;
}

.user-form input {
    margin: 0 auto;
    height: 2.5rem;
    width: 15rem;
    text-align: center;
    border-radius: 25px;
    outline-width: 0;
}

.user-form button {
    margin: 0 auto;
    width: 8rem;
    height: 2rem;
    margin-bottom: 2rem;
    background-color: transparent;
    color: white;
}


/*images o emotions*/

.emo-index {
    background-color: #aeb6cf;
    height: 100%;
}

.emo-index h1 {
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-size: 3rem;
    letter-spacing: .5rem;
    line-height: 3rem;
    font-weight: 400;
}

section.emo-container {
    width: 60%;
    /*	height: 200px;*/
    display: row;
}

img.emo {
    float: left;
    max-width: 40%;
    margin: .3rem;
}
/*user emo selector */
.all-emotion {
    width: 50%;
    display: none;
    flex-direction: column;
}
.most-emotion{
    display: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    align-content: center;
    width: 100vw;
    margin-top: 1rem;
}
.most-emo{
    width: 20%;
    height: 20%; 
    background-color: black; 
    color: white; 
    margin: .2rem;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
}
.top-emotion{
    display: none;
    flex-direction: column;
    width: 50vw;
    height: 50rem;
}

.month{
    background: black;
    color: white;
    width: 100%;
    text-align: center;
}

canvas#myChart{
    width: 100%;
    height: 100%;
}









